# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/
ENV/

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Media / User Uploads
# =========================
media/

# =========================
# Collected Static Files
# =========================
staticfiles/

# =========================
# Cache
# =========================
.cache/
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python Packaging
# =========================
*.egg-info/
dist/
build/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/